@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --main: #ff6e01;
  --hover: #ff8b33;
  --formtext: #757575;
  --bg: #f1e1d2;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.contacttable{
	width: 100%;
	border-collapse: collapse;
}

.contacttable td,.contacttable th{
  padding:12px 15px;
  border:1px solid black;
  text-align: center;
  font-size:16px;
}

.contacttable th{
	background-color: var(--main);
	color:#ffffff;
}

.contacttable tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

td img {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  border: 2px solid #e6e7e8;
}

.delete_btn {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: red;
    color: #ffffff;
    font-weight: 600;
	cursor: pointer;
}

/*responsive*/

@media(max-width: 991px){
  .data .content h3{
    color: var(--black);
    font-size: 5rem;
    line-height: 1.4;
    font-weight: 400;
    margin-left: 35rem;
  }
	.contacttable thead{
		display: none;
	}

  td img {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    border: 2px solid #e6e7e8;
  }

	.contacttable, .contacttable tbody, .contacttable tr, .contacttable td{
		display: block;
		width: 100%;
	}
	.contacttable tr{
		margin-bottom:15px;
	}
	.contacttable td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.contacttable td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
@media(max-width: 768px){
  .data .content h3{
    color: var(--black);
    font-size: 5rem;
    line-height: 1.4;
    font-weight: 400;
    margin-left: 20rem;
  }
	.contacttable thead{
		display: none;
	}

  td img {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    border: 2px solid #e6e7e8;
  }

	.contacttable, .contacttable tbody, .contacttable tr, .contacttable td{
		display: block;
		width: 100%;
	}
	.contacttable tr{
		margin-bottom:15px;
	}
	.contacttable td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.contacttable td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}

@media(max-width: 550px){
  .data .content h3{
    color: var(--black);
    font-size: 4rem;
    line-height: 1.4;
    font-weight: 400;
    margin-left: 15rem;
  }
	.contacttable thead{
		display: none;
	}

	.contacttable, .contacttable tbody, .contacttable tr, .contacttable td{
		display: block;
		width: 100%;
	}
	.contacttable tr{
		margin-bottom:15px;
	}
  
  td img {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    border: 2px solid #e6e7e8;
  }

	.contacttable td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.contacttable td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}