
.pets{
   background: var(--light-bg);
}

.pets .pet-wrapper .petimage{
   height: 30rem;
   overflow: hidden;
   position: relative;
}

.container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.pets .pet-wrapper .petimage img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.pets .pet-wrapper .petimage span{
   position: absolute;
   bottom: -10rem; left:50%;
   transform: translateX(-50%);
   padding:.5rem 1.5rem;
   font-size: 2rem;
   color:var(--white);
   background: var(--peru);
   z-index: 10;
   border-radius: 15%;
}

.pets .pet-wrapper:hover .petimage span{
   bottom: 1rem;
}

.pets .pet-wrapper:hover .petimage img{
   transform: scale(1.1);
}

.pets .pet-wrapper .petcontent{
   padding:2rem;
   background: var(--white);
   box-shadow: var(--box-shadow);
   margin-bottom: 4rem;
}

.pets .pet-wrapper .petcontent .icon{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 2rem;
}

.pets .pet-wrapper .petcontent .icon h3{
   font-size: 1.5rem;
   color:var(--light-black);
}

.pets .pet-wrapper .petcontent .pettitle{
   font-size: 2.5rem;
   color:var(--black);
}

.pets .pet-wrapper .petcontent h5{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-black);
}